
/*#region js-classes */
/* ReSharper disable DeclarationIsEmpty */
/* ReSharper disable Html.CssClassElementsNotFound */
.quiz {
}

.true {
}


.false {
}

.answered {
}

.quiz-block-mark {
}

.quiz-block-input {
}

.quiz-block-input label {
	font-weight: normal;
}

.quiz-block-input .load-content {
}

.visible-on-parent-hover {
	display: none;
}

*:hover > .visible-on-parent-hover {
	display: initial;
}

.cursor-pointer {
	cursor: pointer;
}

p {
	margin: 6px 0;
}

.alert > p {
	margin: 0;
}

.breathing-page-header {
	margin: 35px -3px 18px 0;
}

.internal-page-link,
.internal-page-link:hover,
.internal-page-link:focus,
.internal-page-link:active {
	text-decoration: none;
	border-bottom: 1px dashed rgba(66, 139, 202, 0.62);
}

.internal-page-link:hover,
.internal-page-link:focus {
	border-bottom-color: #2a6496;
}

.internal-page-link.active {
	border-bottom: none;
	font-weight: bold;
	pointer-events: none;
}

.internal-page-link.active:not(.text-muted) {
	color: black;
}

.internal-page-menu a {
	margin: 0 5px;
}

.inline-select {
	border-width: 0;
	padding: 0;
	box-shadow: inset 0px 0px;
	border-bottom: 1px dashed #2a6496;
	margin: 0;
	height: auto;
	cursor: pointer;
	color: #2a6496;
	max-width: none;
}

.inline-select:focus {
	outline: none;
}

.min-width-200 { width: 200px; min-width: 200px; }
.min-width-300 { width: 300px; min-width: 300px; }
.min-width-400 { width: 400px; min-width: 400px; }
.max-width-200 { width: 200px; max-width: 200px; }
.max-width-300 { width: 300px; max-width: 300px; }
.max-width-400 { width: 400px; max-width: 400px; }

.clipboard-link {
	cursor: pointer;
}

.ib {
	display: inline-block;
}

.popover-trigger {
	text-decoration: none;
	border-bottom: 1px dashed black;
	border-bottom-color: inherit;
}

.popover-trigger:hover, 
.popover-trigger:focus,
.popover-trigger:active {
	text-decoration: none;
}

.run-style-error, .run-service-error, .run-compile-error, .run-success, .run-wa, .run-wa-no-diff, .run-details {
}

.code, .code-exercise {
}

.revealed {
	background-color: #e7f1ff;
	padding: 20px;
	color: #000 !important;
    margin-left: -20px;
    margin-right: -20px;
}

.revealed .CodeMirror {
	background-color: #e7f1ff;
}

.revealed .CodeMirror .CodeMirror-gutters {
    background-color: #e7f1ff;
	color: #333;
}

.revealed__description {
	font-style: italic;	
	margin-bottom: 15px;
}

.revealed code,
.revealed pre:not(.CodeMirror-line),
.revealed .inline-pre {
	background-color: #e0edff;
}

.revealed h2 {
	margin-bottom: 20px;
}

.revealed h3 {
	margin-bottom: 20px;
	line-height: 20px;
}

.revealed p:last-child {
	margin: 0;
}

p + .revealed {
    margin-top: 20px;
}

.statistic-container {
}

.with-long-tooltip + .tooltip .tooltip-inner {
	width: 350px;
	max-width: 350px;
}

.summer-practice {
	margin-top: 32px;
}

.bootstrap-select.without-backdrop .dropdown-backdrop {
	display: none;
}

.selectpicker.form-control[multiple="true"] option {
	margin-top: 5px;
	margin-bottom: 5px;
}

.markdown-formatting-helper {
	font-size: 12px;
	color: #555;
	vertical-align: top;
}

.markdown-formatting-helper .fa {
	vertical-align: text-top;
}

/* ReSharper restore Html.CssClassElementsNotFound */
/* ReSharper restore DeclarationIsEmpty */
/*#endregion */

.jumbotron-logo {
	float: left;
	margin: 30px;
	margin-top: -20px;
	margin-bottom: 0;
}

.slide-container .container,
.main-page .container {
	max-width: 864px;
}

.slide {
	padding-bottom: 10px;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.CodeMirror {
	height: auto;
	margin-bottom: 15px;
	line-height: 1.3em;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
	height: auto;
}

.cm-s-cobalt .CodeMirror-matchingbracket {
	outline-color: rgb(0, 100, 100) !important;
	outline-color: rgba(0, 200, 200, 0.5) !important;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.sphere-engine-tm {
	margin: 0 0 -20px 0;
	text-align: right;
	font-size: small;
}

.run-result {
	display: none;
}

.diff-table {
	width: 100%;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.run-verdict {
	height: 46px;
	line-height: 46px;
	width: 100%;
	text-align: center;
	font-size: x-large;
	color: white;
	margin-top: 10px;
}

.no-rounds {
	-ms-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.units-list {
	list-style-type: none;
}

.units-list-item {
	padding: 0 0.2em 0 0.1em;
}

.units-list-item-text {
	font-size: 1.3em;
}

.slides-list {
	font-weight: normal;
	padding-left: 0;
	margin-top: 0.5em;
}

.units-list-item > a:before,
.score {
	font-weight: lighter;
	font-size: 0.9em;
	color: #838383;
}

.units-list-item > a:before {
	content: attr(data-score);
	float: right;
	padding-left: 1em;
	padding-top: 0.1em;
}

.nav .group-statistics-link a {
	text-decoration: none;
	display: inline-block;
	padding: 0;
	margin-left: 18px;
	margin-bottom: 15px;
}

.nav .group-statistics-link a:hover,
.nav .group-statistics-link a:focus {
	background-color: initial;
	text-decoration: underline;
}

.nav .group-statistics-link a .fa {
	margin-right: 5px;
}

.nav .group-statistics-link a .beta {
	font-size: 80%;
	position: relative;
	top: -4px;
	text-decoration: none;
	display: inline-block;
}

#nav_arrows {
	margin-top: 10px;
}

.right {
	margin-left: auto;
}

.slide-list-item {
	list-style-type: none;
	padding: 5px 0.5em 5px;
	display: flex;
}

.slide-list-item.clickable {
	cursor: pointer;
	color: #428bca;
}

.slide-list-item.selected {
	background-color: #f5f5f5;
	list-style-type: none;
	cursor: pointer;
	color: #428bca;
	pointer-events: none;
}

.slide-list-item.selected *:not(.navbar-label-danger) {
	color: #444480;
}

@media (min-width: 768px) {
	.side-bar.navbar-nav {
		width: 350px;
		margin: 0;
		padding-top: 20px;
		max-height: none !important;
		display: inline-block !important;
		position: absolute;
	}
}

.slide-container {
	display: inline-block !important;
	margin-top: 10px;
	width: 100%;
	padding-left: 10px;
}

@media (min-width: 768px) {
	.slide-container {
		padding-left: 350px;
	}
}

.ask-bar {
	max-width: none;
	width: 100%;
	margin-bottom: 15px;
	-moz-resize: none;
	-ms-resize: none;
	-o-resize: none;
	resize: none;
}

.likes-counter {
	margin-left: 0;
}

.rate-buttons {
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}

.table-header {
	color: #428bca;
}

.like-left-location {
	margin-right: 10px;
	float: left;
}

.navbar-label {
	float: left;
	margin-right: 8px;
	width: 14px;
	min-height: 1px;
}

.navbar-label-privileged {
	color: #333;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.navbar-label-default {
	color: lightgray;
}

.navbar-label-success {
	color: lightgreen;
}

.navbar-label-danger {
	color: lightcoral;
}

.navbar-label-link {
	color: #0d395f;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.block-next {
	color: gray;
	background-color: aliceblue;
	margin-left: 0 !important;
}

.solution-control {
	width: 100%;
	margin-top: -15px;
	margin-left: 0 !important;
}

.reset-btn {
	width: 25%;
	margin-left: 0 !important;
	float: right !important;
}

.hints-btn {
	width: 25%;
	margin-left: 0 !important;
}

.giveup-btn {
	width: 25%;
	margin-left: 0 !important;
}

.run-solution-button {
	width: 25%;
	margin-bottom: 10px;
	margin-left: 0 !important;
}

.exercise-controls_button-long {
	width: 50% !important;
}

.try-again-button,
.show-output-button {
	width: 25%;
}


.ctrl-group {
	margin-left: 0 !important;
}

.full-width {
	width: 100%;
}

.quiz-submit-btn {
	margin-top: -10px;
	margin-bottom: 5px;
}

.quiz-status,
.exercise-status,
.exercise-loading,
.exercise-block-status {
	background-color: #d9edf7;
	padding: 11px 18px;
	color: #333;
	font-size: 13pt;
	margin-bottom: 30px;	
}

.exercise-block-status,
.exercise-loading {
	margin-bottom: 0;
	margin-top: 10px;
}

.exercise-block-status {
	box-shadow: inset 0 -10px 10px -10px #9cbdce;
}

.exercise-block-status.wrong {
	background-color: #fd989c;
}

.exercise-block-status.waiting {
	background-color: #fdfa98;
}

.quiz__remains {
	margin-left: 10px;
}

.no-display {
	display: none;
}

.quiz-block-delimiter {
	margin-bottom: 30px;
	margin-top: 30px;
}

.hide-side-bar-button {
	float: left;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.falseQuizAnswer {
	background-color: lightcoral !important;
}

.rightQuizAnswer {
	background-color: lightgreen !important;
}

.manualQuizAnswer {
	background-color: lightblue !important;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

.unit-statistic-ref {
	color: yellowgreen;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.green-stat {
	background-color: lightgreen !important;
}

.red-stat {
	background-color: lightcoral !important;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.wide-container {
	margin: 0 50px;
}

@media (max-width: 768px) {
	.wide-container{
		margin: 0 10px;
	}
}

.table.table-autowidth {
	width: auto;
}

div.tex {
	font-size: 1.2em;
	padding-bottom: 1em;
}

.course-name {
	font-size: 1.56em;
	font-weight: bold;
}

	.course-name > a:hover {
		background-color: white !important;
		color: #428BCA;
	}

.submitions-item {
	cursor: pointer;
}

table.diff {
	border-collapse: collapse;
	border: 1px solid lightblue /*darkgray*/;
	white-space: pre-wrap;
	table-layout: fixed;
	width: 100%;
}

	table.diff tbody {
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	}

	table.diff thead th:first-child {
		width: 30px;
	}

	table.diff th {
		background: aliceblue;
		font-weight: normal;
		border: 1px solid lightblue /*#BBC*/;
		text-align: center !important;
	}

	table.diff tbody th {
		font-size: 11px;
		color: #428bca /*#886*/;
	}

	table.diff tbody td {
		padding: 0 .4em;
		padding-top: .4em;
		vertical-align: top;
		border-right: 1px solid aliceblue;
	}

	table.diff .different:nth-child(odd) td {
		background-color: #E99;
	}

	table.diff .different:nth-child(even) td {
		background-color: #FAA;
	}

	table.diff .equals:nth-child(odd) td {
		background-color: #9E9;
	}

	table.diff .equals:nth-child(even) td {
		background-color: #AFA;
	}

.expand-slide-diff-link {
	display: inline-block;
	margin-left: 20px;
	font-size: 13px;
	color: #999;
	border-color: #ccc;
}

.slide-diff-table {
	margin-top: 5px;
}

body.lti-component {
	padding-top: 0;
	margin-top: 0;
	overflow-x: hidden;
}

li.li-danger {
	background: #f5d8d6;
}

li.li-warning {
	background: #fbe9d0;
}

li.li-info {
	background: #d5eff6;
}

li.li-info > a:hover,
li.li-info > a:focus {
	background-color: #b9e4ef;
}

li.li-success {
	background: #dbf0db;
}

/* Comments */
.comments .comment {
	margin-top: 15px;
}

.comments:not(.comments__feed) .comment.is-reply,
.comments:not(.comments__feed) .reply-form.is-reply {
	margin-left: 68px;
}

.comments .comment .comment__author-avatar {
	margin-right: 2px;
}

.comments .comment .comment__header {
	margin: 0;
}

.comments .comment .comment__header,
.comments .comment .comment__footer {
	font-size: 9pt;
}

.comments .comment .comment__header .glyphicon,
.comments .comment .comment__footer .glyphicon:not(.glyphicon-heart){
	font-size: 80%;
	margin-right: 3px;
}

.comments .comment .comment__footer .glyphicon {
	position: relative;
	top: 1px;
}

.comments .comment .comment__header > div,
.comments .comment .comment__footer > div {
	display: inline-block;
}

.comments .comment .comment__header .comment__not-approved {
	display: inline;
}

.comments .comment .label {
	font-size: 7pt;
	vertical-align: middle;
	margin-left: 5px;
}

.comments .comment .label * {
	color: white;
}

.comments .comment .label-as-badge {
	padding: 1px 4px 2px;
	border-width: 1px;
	border-style: solid;
}

.comments .comment .comment__delete-link * {
	color: #933;
}

.comments .comment .comment__header .show-on-comment-hover,
.comments .comment .comment__footer .show-on-comment-hover,
.comments .comment .comment__header .show-on-comment-hover__if-not-pinned,
.comments .comment .comment__footer .show-on-comment-hover__if-not-pinned {
	display: none;
}

.comments .comment:hover .comment__header .show-on-comment-hover,
.comments .comment:hover .comment__footer .show-on-comment-hover,
.comments .comment:not(.is-pinned):hover .comment__header .show-on-comment-hover__if-not-pinned,
.comments .comment:not(.is-pinned):hover .comment__footer .show-on-comment-hover__if-not-pinned {
	display: initial;
}


.comments .comment .comment__author-name {
	font-size: 10pt;
	font-weight: bold;
}

.comments .comment .comment__author-name sup {
	font-weight: normal;
}

.comments .comment .comment__footer > :not(:first-child) {
	padding-left: 10px;
}

.comments .comment .comment__publish-time,
.comments .comment .comment__publish-time a {
	color: #bbb;
}

.comments .comment .comment__likes-count {
	cursor: pointer;
}

.comments .comment .comment__likes-count:hover {
	color: #900;
}

.comments .comment .comment__likes-count .glyphicon {
	color: #888;
	font-size: 10pt;
}

.comments .comment .comment__likes-count.is-liked .glyphicon,
.comments .comment .comment__likes-count.is-liked .comment__likes-count__counter {
	color: #c00;
}

.comments .comment .comment__likes-count:not(.is-liked):hover .glyphicon {
	color: #700;
}

.comments .comment__text b {
	font-weight: 600;
}

.comments .comment__text pre:not(.inline) {
	margin: 10px 0;
}

.comments .comment__text {
	max-width: 790px;
}

@media (max-width: 992px) {
	.comments .comment__text {
		max-width: 530px;
	}
}

@media (max-width: 630px) {
	.comments .comment__text {
		max-width: 270px;
	}
}

.comments .reply-form [name=commentText] {
	height: 24px;
	margin-left: 7px;
	padding: 1px 5px;
	outline: none;
	max-width: none;
	width: 100%;
	resize: none;
}

.comments .reply-form textarea[name=commentText] {
	height: 60px;
	padding-left: 6px;
	padding-top: 1px;
}

.comments .reply-form .media-body {
	padding-right: 7px;
}

.comments .reply-form .reply-form__send-button {
	margin-left: 7px;
	margin-top: 7px;
	display: inline-block;
}

.comments .reply-form .comments__rules + .reply-form__send-button {
	margin-top: 0;
}

.comments .reply-form .comment__error-message {
	display: inline-block;
	margin-top: 7px;
	vertical-align: middle;
	margin-left: 15px;
	color: #B15252;
}

.comments .comment:not(.is-reply):not(:nth-child(2)),
.comments.comments__feed .comment:not(:nth-child(2)) {
	padding-top: 7px;
}

.comments .comment .comment__new-text {
	display: block;
	width: 100%;
	max-width: none;
	padding-top: 1px;
	padding-left: 6px;
	margin: 5px 0;
	margin-bottom: 10px;
}

.comments .comment.is-pinned .comment__footer .comment__pin-link,
.comments .comment:not(.is-pinned) .comment__footer .comment__unpin-link,
.comments .comment.not-approved .comment__footer .comment__hide-link,
.comments .comment.not-approved .comment__header .comment__pinned,
.comments .comment.not-approved .comment__header .comment__correct-answer,
.comments .comment:not(.not-approved) .comment__header .comment__not-approved {
	display: none;
}

.comments .comment .comment__header .comment__correct-answer
.comments .comment.not-approved .comment__footer .comment__pin-link {
	display: none;
}

.comments .comment.is-pinned .comment__header .comment__pinned,
.comments .comment.is-correct-answer .comment__header .comment__correct-answer {
	display: initial;
}

.label-switcher {
	cursor: pointer;
}


.comments .comment:not(.is-correct-answer) .label-switcher.comment__correct-answer {
	border: 1px solid #428bca;
	border: 1px solid rgba(66, 139, 202, 0.52);
	color: #428bca;
	color: rgba(66, 139, 202, 0.58);
	background-color: white;
}

.comments .comment:not(.is-correct-answer) .label-switcher.comment__correct-answer .glyphicon-remove {
	display: none;
}


.comments .comment:not(.is-pinned) .label-switcher.comment__pinned {
	border: 1px solid #5cb85c;
	border: 1px solid rgba(92,184,92,0.58);
	color: #5cb85c;
	color: rgba(92,184,92,0.58);
	background-color: white;
}

.comments .comment:not(.is-pinned) .label-switcher.comment__pinned * {
	color: inherit;	
}

.comments .comment .comment__footer .comment__hide-link a {
	color: #bbb;
}

.comments .comment .comment__header *:hover > .hide-on-parent-hover,
.comments .comment .comment__footer *:hover > .hide-on-parent-hover {
	display: none;
}

.comments .comment .comment__header *:not(:hover) > .show-on-parent-hover,
.comments .comment .comment__footer *:not(:hover) > .show-on-parent-hover {
	display: none;
}

.comments .comment .comment__header .show-on-parent-hover__if-pinned,
.comments .comment .comment__footer .show-on-parent-hover__if-pinned {
	display: none;
}

.comments .comment.is-pinned .comment__header *:hover > .show-on-parent-hover__if-pinned ,
.comments .comment.is-pinned .comment__footer *:hover > .show-on-parent-hover__if-pinned {
	display: initial;
}

.comments .comment:not(.is-pinned) .comment__header .show__if_pinned {
	display: none;
}


.comments_policy__message {
	margin-top: 15px;	
}

.comments_policy__message.gray {
	color: #888;
}

.comments__rules {
	display: none;
}

.comments__rules .comments__rules__good-tone {
	margin-top: 10px;
}

.comments .comments__rules {
	display: block;
	margin-right: -7px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.comments .reply-form .comments__rules {
	margin-left: 7px;
}

.comments .comments__rules ul {
	padding-left: 25px;	
}

.comments__rules pre,
.comments__rules .inline-pre {
	background-color: #fcfcf3;
}

/* Instructors-only comments */
.comments-for-instructors-only {
    background-color: #e7f1ff;
    padding: 20px;
    color: #000 !important;
    margin: 5px -20px 20px;
}

.comments-for-instructors-only .cm-s-pastel-on-dark.CodeMirror,
.comments-for-instructors-only .cm-s-xq-dark.CodeMirror {
    background-color: #e7f1ff;
}

.comments-for-instructors-only__description {
    font-style: italic;
    margin-bottom: 15px;
}

.notifications__notification .comments-for-instructors-only__description {
    font-style: normal;
}

.comments-for-instructors-only code,
.comments-for-instructors-only pre,
.comments-for-instructors-only .inline-pre {
    background-color: #e0edff;
}

.comments-for-instructors-only h2 {
    margin-bottom: 20px;
}

.comments-for-instructors-only h3 {
    margin-bottom: 20px;
    line-height: 20px;
}

.comments-for-instructors-only p:last-child {
    margin: 0;
}

.comments-for-instructors-only [name=commentText] {
    background-color: #e7f1ff;
    border: 1px solid #8dacda;
}

.comments-for-instructors-only [name=commentText]::placeholder {
    color: #98b9e3;
}

.comments-for-instructors-only .btn-primary {
    background-color: #e7f1ff;
	color: #235db1;
	border-color: #8dacda;
}

.comments-for-instructors-only .btn-primary[disabled] {
    color: #235db1;
    border: 1px solid #8dacda;
}

.comments-for-instructors-only .btn-primary[disabled]:hover,
.comments-for-instructors-only .btn-primary[disabled]:focus,
.comments-for-instructors-only .btn-primary[disabled]:active{
    background-color: #e7f1ff;
    border: 1px solid #8dacda;
	color: #235db1;
}

.comments-for-instructors-only .btn-primary:hover,
.comments-for-instructors-only .btn-primary:focus,
.comments-for-instructors-only .btn-primary:active {
    background-color: #4279ca;
	color: white;
}


.comments-for-instructors-only .btn-link,
.comments-for-instructors-only a,
.comments-for-instructors-only a:hover,
.comments-for-instructors-only a:focus,
.comments-for-instructors-only a:active {
    /*color: #7d7d7d;*/
}

.comments-for-instructors-only .comment .comment__delete-link * {
    color: #ff9393;
}

.comments-for-instructors-only .comment .comment__likes-count:not(.is-liked):hover .glyphicon,
.comments-for-instructors-only .comment .comment__likes-count.is-liked .glyphicon,
.comments-for-instructors-only .comment .comment__likes-count.is-liked .comment__likes-count__counter {
    color: #f14747;
}

.comments-for-instructors-only .comment:not(.is-pinned) .label-switcher.comment__pinned {
    background-color: #e7f1ff;
}

.comments-for-instructors-only .comment .comment__likes-count .glyphicon,
.comments-for-instructors-only .comment .comment__publish-time,
.comments-for-instructors-only .comment .comment__publish-time a,
.comments-for-instructors-only .comment .comment__footer .comment__hide-link a {
    color: #7d7d7d;
}

/* User avatars */
.user__avatar {
	width: 54px;
	height: 54px;
	display: inline-block;
	border-radius: 4px;
}

.user__avatar.small {
	width: 24px;
	height: 24px;
}

.user__avatar.xsmall {
	width: 18px;
	height: 18px;
}

.user__avatar.large {
	width: 100px;
	height: 100px;
}

.user__avatar.user__avatar__placeholder {
	color: white;
	font-size: 25pt;
	text-align: center;
	padding-top: 3px;
}

.user__avatar.user__avatar__placeholder.small {
	font-size: 12pt;
	padding-top: 2px;
}

.user__avatar.user__avatar__placeholder.xsmall {
	font-size: 9pt;
	padding-top: 1px;
}

.user__avatar.user__avatar__placeholder.large {
	font-size: 40pt;
	padding-top: 10px;
}

/* Login and registration forms */
.login-and-registration-form input {
	max-width: initial;
}

.login-and-registration-form input[type=text],
.login-and-registration-form input[type=password] {
	border-width: 2px;
	padding: 10px 16px;
	height: 45px;
	font-size: 16px;
}

.login-and-registration-form:not(.profile-form) > form > .form-group {
	margin-left: 0;
	margin-right: 0;
}

.login-and-registration-form .control-label {
	font-size: 16px;
	padding-top: 10px;
}

.login-and-registration-form .control-label.for-non-text-fields {
	padding-top: 6px;
}

.login-and-registration-form .radio {
	margin-right: 15px;
}

.login-and-registration-form .pull-right .radio {
	margin-right: 0;
	margin-left: 15px;
}

.login-and-registration-form .radio-form-group {
	padding-bottom: 5px;
}

@media (max-width: 768px) {
	.login-and-registration-form .control-label {
		display: none;
	}
}

.login-and-registration-form .field-validation-error {
	display: inline-block;
	padding: 4px 16px 4px;
	color: #E46463;
}

.login-and-registration-form .checkbox .field-validation-error {
	padding-left: 0;
	margin-left: -20px;
}

.login-and-registration-form .input-validation-error {
	border-color: #EA8180;
}

.login-and-registration-form .validation-summary-errors {
	color: #FFFCFC;
	border: 2px solid #EA8180;
	border-radius: 6px;
	background-color: #EA8180;
	text-align: left;
	padding: 10px 16px 0;
	font-size: 16px;
	margin-bottom: 15px;
}

.login-and-registration-form .checkbox label::before,
.login-and-registration-form .radio label::before {
	border-width: 2px;
}

.login-and-registration-form .notifications__transport-settings__panel .checkbox label::before {
	border-width: 1px;
}

hr.without-top-margin {
	margin-top: 5px;
}

/* Account page */
#externalLogins #socialLoginList .ph-btn {
	padding: 6px 40px 5px;
	display: inline-block;
	width: auto;
	font-weight: normal;
	font-size: 14px;
}

#externalLogins #socialLoginList .btn {
	margin-bottom: 5px;	
}

#externalLogins table td {
	border-top-width: 0;
	padding: 10px 0 0 0;
	vertical-align: middle;
}

#externalLogins table tr:first-child td {
	border-top-width: 1px;
}

/* Strike line */
.strike-line {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 10px;
}

.strike-line > span {
	position: relative;
	display: inline-block;
}

.strike-line > span:before,
.strike-line > span:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 1px;
}

.strike-line.grey > span:before,
.strike-line.grey > span:after {
	background-color: #ccc;
}
.strike-line.grey > span {
	color: #999;
}

.strike-line > span:before {
	right: 100%;
	margin-right: 10px;
}

.strike-line > span:after {
	left: 100%;
	margin-left: 10px;
}

.quiz-block__text {
	margin-right: 10px;
}

.quiz-block__score {
	white-space: nowrap;
	color: #999;
	font-weight: 400;
}

.quiz-block-mark .quiz {
	margin-bottom: 3px;
}

.quiz label.right-quiz .glyphicon {
	margin-left: 5px;
}

.quiz .quiz__explanation {
	margin-left: 5px;
	margin-top: 0;
}

/* Ordering quizes */
.quiz-block-ordering ul {
	list-style: none;
	padding-left: 0;
}

.quiz-block-ordering .quiz-block-ordering__item {
	background-color: white;
	border: 1px solid #bbb;
	border-radius: 4px;
	padding: 8px 15px;
	margin-bottom: 10px;
}

.quiz-block-ordering:not(.not-movable) .quiz-block-ordering__item {
	cursor: n-resize;	
}

.quiz-block-ordering.not-movable .quiz-block-ordering__item {
	background-color: #eee;
}

.quiz-block-ordering .quiz-block-ordering__item:first-child {
	margin-left: 15px;
}

.quiz-block-ordering .quiz-block-ordering__item .quiz-block-ordering__item__icons {
	float: right;
	margin-left: 5px;
	cursor: pointer;
	color: #69c;
	
	height: 100%;
	position: absolute;
	right: 6px;
	top: 9px;
}

.quiz-block-ordering:not(.not-movable) .quiz-block-ordering__item .text {
	margin-right: 35px;
}

.quiz-block-ordering li.ui-sortable-placeholder {
	/* margin-bottom: 10px; */
}

.quiz-block-ordering ul li:first-child .quiz-block-ordering__item .quiz-block-ordering__item__icons .glyphicon-arrow-up{visibility:hidden}
.quiz-block-ordering ul li:last-child .quiz-block-ordering__item .quiz-block-ordering__item__icons .glyphicon-arrow-down{visibility:hidden}
.quiz-block-ordering .quiz-block-ordering__item .quiz-block-ordering__item__icons .glyphicon:hover{color:#369}

/* Matching quizes */
.quiz-block-matching {
	/* margin-top: -8px; */
}

.quiz-block-matching .quiz-block-matching__description {
	margin-bottom: 14px;
}

.quiz-block-matching ul {
	list-style: none;
	padding-left: 15px;	
}

.quiz-block-matching .quiz-block-matching__fixed-item,
.quiz-block-matching .quiz-block-matching__movable-item {
	background-color: white;
	border-radius: 4px;
	padding: 8px 15px;
	margin-bottom: 10px;
	border: 1px solid #bbb;
}

.quiz-block-matching .quiz-block-matching__movable-item {
	z-index: 2;
	border-color: #58b;
	background-color: #69c;
	color: white;
}

.quiz-block-matching:not(.not-movable) .quiz-block-matching__movable-item {
	cursor: move;	
}

.quiz-block-matching.not-movable .quiz-block-matching__item > * {
	background-color: #eee;
	border-color: #bbb;
	border-style: solid;
}

.quiz-block-matching .quiz-block-matching__droppable,
.quiz-block-matching .quiz-block-matching__source__droppable {
	border-radius: 4px;
	border: 1px dashed #69c;
	height: 37px;
	padding: 0;
}

.quiz-block-matching .quiz-block-matching__droppable {
	margin-left: 10px;
}

.quiz-block-matching .quiz-block-matching__droppable.highlight,
.quiz-block-matching .quiz-block-matching__source__droppable.highlight {
	background-color: #87ceeb;
	border-color: #67aecb;
}

.quiz-block-matching .quiz-block-matching__droppable.added,
.quiz-block-matching .quiz-block-matching__source__droppable.added {
	border-width: 0;
}

.quiz-block-matching .quiz-block-matching__source__droppable .quiz-block-matching__movable-item.clicked-item {
	background-color: #20b2aa;
	border-color: #08827b;
}

.quiz-block-matching__item.right {
	margin-left: -15px;
}

.quiz-block-matching__item.right .quiz-block-matching__fixed-item:not(:last-child),
.quiz-block-matching__item.right .quiz-block-matching__movable-item {
	background-color: #E1FFE1;
	border-color: #B9E6B9;
	color: black;
}

.quiz-block-matching__item.wrong .quiz-block-matching__fixed-item:not(:last-child),
.quiz-block-matching__item.wrong .quiz-block-matching__movable-item {
	background-color: #FFE1E1;
	border-color: #E6B9B9;
	color: black;
}

.quiz-block-ordering .quiz-block-ordering__item.correct,
.quiz-block-matching .quiz-block-matching__fixed-item.correct {
	background-color: #82D082;
	border-color: #71BB71;
	color: white;
}

.quiz-block-ordering__correct-description,
.quiz-block-matching__correct-description {
	padding-bottom: 8px;
	font-size: 13pt;
}

.quiz-block-matching__correct-description {
	padding-left: 15px;
}

.quiz-block-ordering__correct-description div {
	padding-left: 29px;
}

.quiz-block-matching__correct-description div {
	padding-left: 23px;
}

.quiz.quiz-block-input .form-control {
	max-width: none;
}

/* Quiz Analytics */
.analytics__quiz-version__info {
	margin-top: 15px;	
}

table.analytics__user-answers {
	margin-top: 15px;
}

/* Admin's course versions */
.courses-versions {
	
}

.courses-versions > a {
	display: block;	
}

.courses-versions .courses-versions__version {
	margin-bottom: 20px;
	width: 500px;
	padding: 5px 5px;
}

.courses-versions .courses-versions__version:not(.current) {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.courses-versions .courses-versions__version:not(.current):hover {
	cursor: pointer;
	background-color: #eef;
}

.courses-versions .courses-versions__version > div,
.courses-versions .courses-versions__version > a > div  {
	display: inline-block;
}

.courses-versions a.current {
	pointer-events: none;
	cursor: text;
}

.courses-versions .courses-versions__version .glyphicon.glyphicon-ok {
	margin-right: 10px;
	color: green;
}

.courses-versions .courses-versions__version .courses-versions__actions {
	float: right;
}

.courses-versions .courses-versions__version .courses-versions__actions a {
	margin-right: 10px;
}

.courses-versions .courses-versions__version .courses-versions__actions form {
	display: inline-block;
}

.course-loading-error {
	margin-bottom: 20px;
	max-width: 800px;
}

/* Groups */
h1 .create-group-link,
h1 .copy-group-link {
	margin-left: 10px;
}

.groups {
	padding-top: 20px;
}

.groups .group:first-child {
	border-top: 1px solid rgba(150, 150, 150, 0.2);
}

.groups .group {
	padding-top: 7px;
	padding-bottom: 9px;
	border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}

.groups .group:hover {
	cursor: pointer;
	background-color: #f6f6ff;
}
	
.groups .group.collapsing .group__title {
	margin-top: 0;
}

.groups .group .group__title {
	font-size: 18px;
}

.groups .group:hover .group__title {
	text-decoration: underline;
	color: #23527c;
}

.groups .group .group__title .label {
	position: relative;
	top: -3px;
}

.groups .group .group__labels .group__label {
	position: relative;
	top: -2px;
}

.groups .group .group__labels .bootstrap-select {
	width: 100%;
}

.groups .group .group__labels .bootstrap-select ul > li > a {
	padding-left: 12px;
}

.groups .group .group__members-count {
	color: #999;
}

.groups .group .members {
	margin-top: 10px;
}

.copy-group__change-owner-block {
	display: none;
}

.copy-group__change-owner-block .owner-name {
	font-weight: bold;
}

.groups .group.archived-group {
	display: none;
}

.groups .show-archived-groups-selector {
	margin-bottom: 10px;
}

.group__accesses .group__access {
	margin: 10px 0;
}

.group__accesses .group__access .media-body > div:not(.pull-right) {
	line-height: 18px;
}

.group__accesses .group__access .group__access__role {
	margin: 0;
}

.group__accesses .group__access .group__access__revoke-link {
	font-size: 27px;
	color: #c55;
	display: none;
}

.group__accesses .group__access:hover .group__access__revoke-link {
	display: inline-block;
}

.group__accesses .group__access .group__access__revoke-link:hover {
	text-decoration: none;
	color: #611;
}

.group__access .group__access__change-owner-link {
	display: none;
	font-size: 12px;
    color: #696;
}

.group__access:hover .group__access__change-owner-link {
	display: initial;
}

.group__access .group__access__change-owner-link:hover {
    color: #363;
}

.modal__edit-group__members {
	padding-left: 0px;
    list-style: none;
}

.modal__edit-group__members .group__member {
}

.modal__edit-group__members .group__member .user__avatar {
	vertical-align: text-bottom;
}

.modal__edit-group__members .group__member .group__member__since {
	color: #ccc;	
}

.modal__edit-group__members .group__member .group__member__remove-link {
	font-size: 18px;
    line-height: 18px;
	color: #c55;
	display: none;
}

.modal__edit-group__members .group__member:hover .group__member__remove-link {
	display: inline-block;
}

.modal__edit-group__members .group__member .group__member__remove-link:hover {
	text-decoration: none;
	color: #611;
}

/* Mass operations */
.modal__edit-group__members .group__member .checkbox {
    display: inline;
    vertical-align: text-bottom;
}

.modal__edit-group__members li.group__member .checkbox label:before {
    top: 1px;
}

.modal__edit-group__members li.group__member .checkbox label:after {
    margin-top: 1px;
}

.modal__edit-group__members .group__member .checkbox .user__avatar {
    margin-left: 2px;
}

.modal__edit-group__mass-operations {
    margin-bottom: 7px;
    color: #666;
}

.modal__edit-group__mass-operations .checkbox {
	display: inline-block;
	margin: 0;
	height: 24px;
}

/* Dirty hack */
.modal__edit-group__mass-operations .checkbox input:not(:checked) + label {
	top: 1px;
}

.modal__edit-group__mass-operations .modal__edit-group__mass-copy-button {
    margin-left: 5px;
}

.modal__edit-group__mass-operations .input-group {
    display: inline-block;
    vertical-align: bottom;
}

.modal__edit-group__mass-copy-status.text-success {
    vertical-align: middle;
    margin-left: 5px;
}

.modal__edit-group__mass-remove-button {
	margin-right: 20px;
}
/* End of mass operations */

.modal__create-group__step3__enable-invite_link {
	display: block;	
}

.modal__create_group__step3__invite-link-block[data-enabled="true"] .modal__create-group__step3__enable-invite_link {
    color: #c99;
}

.modal__create_group__step3__invite-link-block[data-enabled="true"] .modal__create-group__step3__enable-invite_link:hover {
	color: #966;
}

.modal__create_group__step3__invite-link-block[data-enabled="false"] .modal__create-group__step3__enable-invite_link {
    color: #696;
}

.modal__create_group__step3__invite-link-block[data-enabled="false"] .modal__create-group__step3__enable-invite_link:hover {
    color: #363;
}

.scoring-group-checkbox .scoring-group-description {
	margin-left: 5px;
}

.group__links {
	margin-top: 7px;
}

.visible-on-group-hover {
	display: none;
}

.group:hover .visible-on-group-hover {
	display: initial;
}

.remove-group__link {
	color: #c55;
}

.remove-group__link:hover {
	color: #611;
}

.remove-group__link .glyphicon {
	padding-top: 3px;
}

/* Analytics dashboard */
.form-control-date {
	width: 100px;
}

.analytics__dashboard .slide-visits-count,
.analytics__dashboard .quiz-average,
.analytics__dashboard .exercise-tries,
.analytics__dashboard .lesson-slide-no-stat,
.analytics__dashboard .stat-title,
.analytics__dashboard .small-table__right-cell
 {
	width: 50px;
	display: inline-block;
	text-align: right;
}

.analytics__dashboard .small-table__title {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0 0 2px;
	margin-bottom: 3px;
}

.analytics__dashboard .small-table__title__cell
{
	display: inline-block;
	color: #ccc;
	font-size: 8pt;
	text-align: right;
	width: 50px;
}

.analytics__dashboard .additional-scores__edit-mode__save-button {
	display: none;
}

.analytics__dashboard .student {
	height: 30px;
}

.analytics__dashboard .student-progress {
	display: inline-block;
	width: 150px;
	height: 10px;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
}

.analytics__dashboard .score.full-score a {
	color: green;
	font-weight: 700;
}

.analytics__dashboard .score.zero-score a {
	color: rgb(246, 127, 127);
}

.analytics__dashboard .score:not(.full-score):not(.zero-score) a {
	color: #b9b90e;
}

.analytics__dashboard .additional-score-link {
	font-size: 12px;
}

.analytics__dashboard .additional-score-input {
	display: none;
	height: 25px;
	width: 45px;
	font-size: 12px;
	text-align: right;
}

@media (max-width:768px) {
	.analytics__dashboard .student-progress {
		width: 90px;
	}

	.analytics__dashboard #students .student {
		margin-bottom: 10px;
	}

	.analytics__dashboard .small-table__title__cell,
	.analytics__dashboard .small-table__right-cell
	 {
		width: 40px;
	}

	.analytics__dashboard .score.zero-score {
		background-color: #ffd4d4;
	}

	.analytics__dashboard .score.zero-score a {
		color: white;
	}
}

@media (max-width: 600px) {
	.analytics__dashboard .small-table__title__cell,
	.analytics__dashboard .small-table__right-cell
	{
		width: 35px;
	}
}

.analytics__dashboard .large-number {
	text-align: center;
	font-size: 40pt;
}

.analytics__dashboard .large-number__text {
	text-align: center;
}

.analytics__chart__toggles {
	font-size: 10pt;
}

.analytics__chart__toggles .analytics__chart__toggle {
	margin-right: 10px;
}

.analytics__chart__toggles .analytics__chart__toggle.active {
	pointer-events: none;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.analytics__chart__toggles .analytics__chart__toggle.active:hover,
.analytics__chart__toggles .analytics__chart__toggle.active:focus,
.analytics__chart__toggles .analytics__chart__toggle.active:active {
	text-decoration: none;
}

/* Code review */
.exercise__add-review {
	position: absolute;
	z-index: 10;
	background-color: white;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 520px;
}

.exercise__add-review > * {
	display: block;
	margin-top: 5px;
}

.exercise__add-review > *:first-child {
	margin-top: 0;
	margin-bottom: 5px;
}

.exercise__add-review h4 {
	margin-top: 0;
}

.exercise__add-review .exercise__add-review__comment {
	width: 250px;
	height: 120px;
}

.exercise__add-review.without-comments {
	width: 270px;
}

.exercise__add-review.without-comments .exercise__add-review__top-comments {
	display: none;
}

.exercise__add-review__top-comments {
	padding-left: 25px;
}

.exercise__top-review-comments .comment {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-left: -15px;
}

.exercise__top-review-comments .comment .remove-link {
	visibility: hidden;
	display: inline-block;
	margin-right: 2px;
	color: #f66;
	text-decoration: none;
	font-size: 16px;
}

.exercise__top-review-comments .comment:hover .remove-link {
	visibility: visible;
}

.exercise__top-review-comments .comment .remove-link:hover {
	font-weight: 700;
}

.code-review + .CodeMirror {
	width: 900px;
}

.exercise__reviews {
	float: right;
	width: 250px;
	margin-left: 10px;
	margin-bottom: 25px;
	
	background-color: #f7f7f7;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: inset 7px -5px 4px -4px #ccc;
}

@media (max-width: 720px) {
	.exercise__reviews {
		width: 150px;
	}
}

.exercise__reviews.empty {
	display: none;
}

.exercise__review {
	margin: 10px 0;
	cursor: pointer;

	background-color: white;
	padding: 10px 5px;
	box-shadow: 0 2px 4px 1px #ccc;
}

.exercise__review.selected {
	margin-left: -15px;
	margin-right: 15px;
	transition: margin-left 0.3s linear, margin-right 0.3s linear;
}

.exercise__review .exercise__review__header,
.exercise__review .exercise__review__comment__header {	
	margin: -2px -5px;
	padding: 0 5px;
	color: #aaa;
	font-size: 9pt;
}

.exercise__review .exercise__review__comment__header {
	margin-top: 5px;
}

.exercise__review .exercise__review__header .media-left,
.exercise__review .exercise__review__comment__header .media-left {
	padding-right: 7px;
}

.exercise__review .exercise__review__header.with-timestamp .media,
.exercise__review .exercise__review__comment__header.with-timestamp .media {
	margin-bottom: -7px;
}

.exercise__review .exercise__review__header .media-body,
.exercise__review .exercise__review__comment__header .media-body {
	line-height: 14px;
	position: relative;
	top: -2px;
}

.exercise__review .exercise__review__header.without-timestamp .media-body,
.exercise__review .exercise__review__comment__header.without-timestamp .media-body {
	padding-top: 7px;
}

.exercise__review .exercise__review__comment__header .timestamp {
	font-size: 8pt;
}

.exercise__review .exercise__review__header .author,
.exercise__review .exercise__review__comment__header .author {
	color: #666;
}

.exercise__review .exercise__delete-review:hover,
.exercise__review .exercise__delete-review-comment:hover {
	color: black;
}

.exercise__review .exercise__review__comment {
	padding: 6px 0 4px;
	line-height: 17px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.exercise__review .exercise__review__comment pre {
	background-color: #ffeeee;
	border-color: #fdd;
}

.exercise__review .exercise__review__comment .inline-pre {
	background-color: #ffeeee;
}

.exercise__review .exercise__review__comment pre::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

.exercise__review .exercise__review__comment pre::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(255,0,0,0.3);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.exercise__review .exercise__review__comment pre::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #f6dddd;
	-webkit-box-shadow: inset 0 0 6px rgba(100,0,0,0.5);
}

.exercise__review__reply-form {
	margin-top: 3px;
}

.exercise__review__reply-form input[type="text"] {
	width: 100%;
	height: 25px;
	padding: 0 4px; 
}

.exercise__review__reply-form textarea {
	resize: none;
	width: 100%;
	padding: 0 4px;
	display: none;
	min-height: 48px;
}

.exercise__review__reply-footer {
	display: none;
}

.exercise__code__reviewed-fragment {
	background-color: #fdd5d5;
}

.exercise__code__reviewed-fragment__selected {
	background-color: #f7b7b7;
}

/* Exercise */
.exercise__submissions-panel {
	margin-bottom: 8px;
}

.exercise__submissions-panel .inline-select.with-buttons {
	margin: 0 10px;
}

.exercise__submissions-panel .btn-xs {
	border-radius: 5px;
	padding: 1px 5px 3px;
}

.exercise__submissions-panel .btn-group .btn-xs:not(:first-child) {
	margin-left: 2px;
}

.exercise__score .exercise__other-score-link {
	margin-left: 10px;
	margin-right: 10px;
}

.exercise__score .exercise__other-score-container {
	vertical-align: middle;
}

.exercise__score input {
	display: inline-block;
	width: auto;
}

.exercise__score .status {
	padding: 5px 0;
}

.exercise__score .status.waiting { color: #a0932b; }
.exercise__score .status.error { color: #a0372b }
.exercise__score .status.success { color: #2ca02b }

.exercise__score-form {
	margin-bottom: 10px;
}

#exercise__submission__output {
	margin-top: 10px;
	font-family: monospace;
	border-left: 4px solid #8c8c8c;
	padding-left:  10px;
}

#exercise__submission__output::before {
	content: "Вывод программы:";
	display: block;
	font-weight: bold;
	font-family: sans-serif;
}

#exercise__submission__output.empty::before {
	content: "Нет вывода программы"
}

.user-submission {
	margin-top: 20px;
}

.user-submission__info {
	background-color: #c8ffd1;
	margin-left: -15px;
	padding: 12px 15px;
}

.user-submission__info h3 {
	margin-top: 0;
}

.user-submission__info .hint {
	display: none;
}

.user-submission .exercise__score button.disabled {
	pointer-events: initial;
	cursor: initial;
}

@media (max-width: 1000px) {
	.user-submission {
		overflow: hidden;
		min-height: 110px;
		position: relative;
		margin-left: -15px;
		margin-right: -15px;
		padding: 0 15px;
	}

	.user-submission__info {
		position: absolute;
		z-index: 3;
		width: 100%;
		min-height: 110px;
		padding-top: 20px;
	}

	.user-submission__info h3 {
		font-size: 15px;
		font-weight: 700;
		height: 16px;
		max-height: 16px;
		overflow: hidden;
		-moz-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}

	.user-submission__info .hint {
		display: block;
		font-size: 12px;
		color: #696;
		margin-top: 10px;
	}

	.user-submission h4 {
		font-size: 16px;
	}

	.user-submission .exercise__simple-score-form {
		border-top: 1px solid #9c9;
		border-bottom: 1px solid #9c9;
		padding: 0 15px;
		margin: 0 -15px;
		min-height: 110px;
	}

	.user-submission .last-review-comments {
		margin-top: 10px;
	}
}

.commented-code {
	background-color: #fbdddd;
	padding: 0 5px;
	font-family: monospace;
}

/* Loading spinner */
.loading-spinner {
	text-align: center;
	padding: 10px 0;
}

.loading-spinner img {
	height: 60px;
	width: auto;
}

.exercise__submission .loading-spinner {
	position: relative;
	top: -10px;
	padding: 30px 0;
}

/* Certificates */
.certificate-template__parameter,
.add-certificate-button,
.preview-certificate-button {
	display: none;
}

.certificates {
	margin: 15px 0;
}

ol.certificates {
	padding-left: 15px;
}

.certificates-list__info {
	padding: 10px 0;
}

.certificate-template__title .text-muted {
	font-weight: 300;
}

.certificates .certificate .remove-certificate-link {
	font-size: 18px;
	line-height: 20px;
	vertical-align: top;
	margin-left: 15px;
	color: #c55;
	display: none;
	cursor: pointer;
}

.certificates .certificate:hover .remove-certificate-link {
	display: inline;
}

.certificates .certificate .remove-certificate-link:hover {
	text-decoration: none;
	color: #611;
}

.preview-certificates .select-another-user-block:not(.shown-by-default) {
	display: none;
}

.preview-certificates .remove-certificate-preview-link,
.preview-certificates .remove-certificate-preview-link * {
	color: #933;
	font-size: 12px;
}

.preview-certificates .remove-certificate-preview-parameter-link,
.preview-certificates .remove-certificate-preview-parameter-link * {
	color: #933;
	font-size: 10px;
}

.loading-spinner-template {
	display: none;
}

.preview-certificates .loading-spinner img {
	height: 22px;
	width: auto;
}

.generate-certificates-status {
	padding-top: 10px;
	max-width: 350px;
	font-size: 14px;
	color: #c33;
}
/* End of certificates */

/* Course statistics */
.course-statistics__wrapper {
	width: 100%;
	max-width: 100%;
}

.course-statistics:not(.sticky-column):not(.sticky-header) {
	margin-top: 15px;
}

.course-statistics thead th {
	font-weight: 400;
	font-size: 12px;
	background-color: #ebf4f9;
}

.course-statistics thead th.sorted {
	background-color: #8dbdd8;
}

.course-statistics thead th.sorted:not(.slide-title) {
	padding-left: 2px;
}

.course-statistics thead th.slide-title.sorted:after {
	position: absolute;
	bottom: 0;
}

.course-statistics thead th.slide-title.sorted .slide-title__content {
	top: 8px;
}

.course-statistics thead th.sorted.sorted-desc:after {
	content: " ↑";
}

.course-statistics thead th.sorted.sorted-asc:after {
	content: " ↓";
}

.course-statistics .unit-title {
	max-height: 18px;
	line-height: 12px;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 700;
	padding: 3px 2px;
}

.course-statistics .scoring-group-title,
.course-statistics .scoring-group-max-score,
.course-statistics .slide-title,
.course-statistics .slide-max-score {
	font-size: 10px;
	padding: 3px 7px;
	text-align: center;
}

.course-statistics .scoring-group-title {
	height: 60px;
}

.course-statistics .scoring-group-title,
.course-statistics .slide-title {
	white-space: nowrap;
	cursor: pointer;
	font-weight: 400;
}

.course-statistics thead .student-name {
	cursor: pointer;	
}

.course-statistics .slide-title {
	height: 60px;
	min-height: 60px;
	position: relative;
}

.course-statistics .slide-title__content {
	text-align: left;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	white-space: nowrap;
	width: 20px;
	position: relative;
	top: 15px;
	letter-spacing: 0px;
	font-weight: 500;
}

.course-statistics .slide-title,
.course-statistics .slide-max-score,
.course-statistics .slide-score {
	display: none;
}

.course-statistics .slide-max-score,
.course-statistics .slide-score {
	position: relative;
}

.course-statistics .slide-max-score:before,
.course-statistics .slide-score:before {
	content: "=";
	position: absolute;
	left: -5px;
}

.course-statistics .slide-max-score:before {
	left: -4px;
}

.course-statistics .slide-max-score + .slide-max-score:before,
.course-statistics .slide-score + .slide-score:before {
	content: "+";
}

.course-statistics th,
.course-statistics td {
	border-right: 1px solid rgb(220, 220, 240);
	border-bottom: 1px solid rgb(220, 220, 240);
	padding: 0 3px;
}

.course-statistics.with-expanded-scoring-group td:not(.in-expanded-scoring-group):not(.student-name):not(.scoring-group-sum-score):not(:first-child):not(:nth-child(2)),
.course-statistics.with-expanded-scoring-group th:not(.in-expanded-scoring-group):not([data-unit-id="sum"]):not(:first-child):not(:nth-child(2)) {
	color: rgba(0, 0, 0, 0.4);
}

.course-statistics.with-expanded-scoring-group td:not(.in-expanded-scoring-group):not(.student-name):not(.scoring-group-sum-score):not(:first-child):not(:nth-child(2)) {
	opacity: 0.4;
}

.course-statistics.with-expanded-scoring-group th:not(.in-expanded-scoring-group):not([data-unit-id="sum"]):not(:first-child):not(:nth-child(2)) {
	background-color: white;
}

.course-statistics.with-expanded-scoring-group td:not(.in-expanded-scoring-group):not(.student-name):not(.scoring-group-sum-score):not(:first-child):not(:nth-child(2)) a,
.course-statistics.with-expanded-scoring-group th:not(.in-expanded-scoring-group):not([data-unit-id="sum"]):not(:first-child):not(:nth-child(2)) a {
	color: rgba(66, 139, 202, 0.4);
}

.course-statistics.with-expanded-scoring-group .in-expanded-scoring-group.scoring-group-score,
.course-statistics.with-expanded-scoring-group .in-expanded-scoring-group.scoring-group-max-score,
.course-statistics.with-expanded-scoring-group .in-expanded-scoring-group.scoring-group-title {
	font-weight: 700;
	color: #333;
	border-right-width: 0;
}

.course-statistics.with-expanded-scoring-group .in-expanded-scoring-group {
	border-right-width: 0;
}

.course-statistics.with-expanded-scoring-group .in-expanded-scoring-group + .scoring-group-score,
.course-statistics.with-expanded-scoring-group .in-expanded-scoring-group + .scoring-group-max-score,
.course-statistics.with-expanded-scoring-group .in-expanded-scoring-group + .scoring-group-title {
	border-left: 1px solid rgba(100, 100, 100, 0.2);
}

.course-statistics td.score {
	text-align: center;
	color: #666;
}

.course-statistics td.scoring-group-sum-score,
.course-statistics th.scoring-group-max-score[data-unit-id="sum"],
.course-statistics th.scoring-group-title[data-unit-id="sum"] {
	color: #333;
	font-weight: 700;
} 

.course-statistics .expand-scoring-group__link .expand-icon {
	font-size: 8px;
}

.course-statistics .group-header {
	background-color: #fec;
	font-size: 12px;
	padding-top: 3px;
}

.course-statistics .score.grade-1 { background-color: #FFC0C0; }
.course-statistics .score.grade-2 { background-color: #FFC8C0; }
.course-statistics .score.grade-3 { background-color: #FFD0C0; }
.course-statistics .score.grade-4 { background-color: #FFD8C0; }
.course-statistics .score.grade-5 { background-color: #FFE0C0; }
.course-statistics .score.grade-6 { background-color: #FFE8C0; }
.course-statistics .score.grade-7 { background-color: #FFF0C0; }
.course-statistics .score.grade-8 { background-color: #FFF8C0; }
.course-statistics .score.grade-9 { background-color: #F0FFC0; }
.course-statistics .score.grade-10 { background-color: #E8FFC0; }
.course-statistics .score.grade-11 { background-color: #E0FFC0; }
.course-statistics .score.grade-12 { background-color: #D8FFC0; }
.course-statistics .score.grade-13 { background-color: #D0FFC0; }
.course-statistics .score.grade-14 { background-color: #C8FFC0; }
.course-statistics .score.grade-15 { background-color: #C0FFC0; }

.course-statistics.only-full-scores .score.only-full__grade-0 { background-color: white !important; }
.course-statistics.only-full-scores .score.only-full__grade-1 { background-color: #FFC0C0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-2 { background-color: #FFC8C0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-3 { background-color: #FFD0C0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-4 { background-color: #FFD8C0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-5 { background-color: #FFE0C0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-6 { background-color: #FFE8C0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-7 { background-color: #FFF0C0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-8 { background-color: #FFF8C0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-9 { background-color: #F0FFC0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-10 { background-color: #E8FFC0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-11 { background-color: #E0FFC0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-12 { background-color: #D8FFC0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-13 { background-color: #D0FFC0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-14 { background-color: #C8FFC0 !important; }
.course-statistics.only-full-scores .score.only-full__grade-15 { background-color: #C0FFC0 !important; }


.student-group, 
.student-group-title {
	
}

.course-statistics.sticky-column td.student-name {
	background-color: white;
}
/* End of course statistics*/

/* Grader */
.grader-submissions__table {
	margin-top: 20px;
}

.grader-submissions__table .show-on-row-hover {
	display: none;
}

.grader-submissions__table tr:hover .show-on-row-hover {
	display: inline-block;
}
/* End of grader */

/* Notification settings */
#notifications__transport-settings__modal .modal-title {
	padding-left: 10px;	
}

#notifications__transport-settings__modal .modal-body h4 {
	margin-left: 10px;
	margin-bottom: 15px;
}

.notifications__transport-settings__course__panel {
	border-right: 1px solid #ddd;
	padding-right: 0;
	min-height: 380px;
}

.notifications__transport-settings__course__link {
	display: block;
	padding: 10px;
	border-top: 1px solid rgba(30, 80, 30, 0.15);
}

.notifications__transport-settings__course__link.active {
	background-color: #4c82b3;
	color: white;
	text-decoration: none;
}

h4 + div > .notifications__transport-settings__course__link {
	border-top-width: 0;
}

.notifications__transport-settings__course__link:not(.active):hover {
	text-decoration: none;
	background-color: #efefff;
}

.notifications__transport-settings__courses-description {
	font-size: 11px;
	margin: 5px 10px;
	color: #aaa;
}

.notifications__transport-settings__panel:not(.active) {
	visibility: hidden;
}

.notifications__transport-settings__course-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.notifications__transport-settings__panel .checkbox {
	margin-left: 10px;
}

.notifications__transport-settings__panel .btn {
	margin-left: 10px;
	margin-top: 10px;
}

.notifications__transport-settings__panel .btn + span {
	display: inline-block;
	margin-top: 10px;
	padding: 6px;
	vertical-align: middle;
	white-space: nowrap;
}

.notifications__transport-settings__panel .status {
	margin-left: 15px;
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
}

.notifications__transport-settings__panel .course-role {
	margin-left: -20px;
	margin-bottom: 5px;
	margin-top: 15px;
}

.notifications__transport-settings__panel .course-role + .checkbox {
	margin-top: 5px;
}

.notifications__disable-transport__button {
	margin-right: 10px;
}
/* End of notification settings */
/* User menu */
.user-menu__error {
	color: #f77;
	font-size: 12px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.user-menu__error__icon {
	color: #f99;
	margin-right: 4px;
}
/* End of user menu */

/* Profile */
.profile__form-group-info {
	margin-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
}
/* End of profile */

/* Other user's profile page '*/
.user-profile__avatar {
	margin-right: 10px;
}

.user-profile__info {
	min-height: 100px;
}

/* Manual checking queue filter form */
@media (min-width: 769px) {
	#manual-checking-queue-filter-form .manual-checking-queue-filter-form__done-filter {
		display: block;
	}
	
	#manual-checking-queue-filter-form .checkbox {
		padding-left: 0px;
		padding-top: 5px;
		padding-bottom: 10px;
	}

	#manual-checking-queue-filter-form .checkbox > label {
		padding-left: 5px;
	}
}

@media (max-width: 768px) {
	#manual-checking-queue-filter-form .checkbox {
		padding-top: 0;
		padding-left: 12px;
	}
}

/* Style errors settings */
.style-errors__settings__status {
	margin-left: 50px;
	display: inline-block;
}